services:
  postgres:
    image: postgres:16.0
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${NAME:-education_platform}
      POSTGRES_USER: ${USER:-postgres}
      POSTGRES_PASSWORD: ${PASSWORD:-postgres}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    container_name: education_platform_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    container_name: django_app_new
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - static_volume:/app/static/
      - media_volume:/app/media/
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  celery:
    build: .
    container_name: education_platform_celery
    command: celery -A config worker --loglevel=info
    volumes:
      - media_volume:/app/media/
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
      - web  # Ждем backend для применения миграций

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: education_platform_celery_beat
    command: celery -A config beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - media_volume:/app/media/
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
      - web  # Ждем backend для применения миграций

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
