SECRET_KEY=

DEBUG=True
# настройки базы данных
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# настройки сервиса Stripe
STRIPE_API_KEY=
# настройки celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
REDIS_URL=
# настройки почтовой службы
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=